* {
  box-sizing: border-box;
}

html {
  position: absolute;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

header {
  background-color: rgb(64, 65, 30);
  color: rgb(120, 119, 70);
  height: 20rem;
  margin: 0;
  padding: 1.5rem;
}

header h1 {
  font-size: 4rem;
  text-align: center;
}

.headernav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navimg {
  border-radius: 50%;
}

nav {
  display: block;
  position: relative;
  top: -0.2rem;
  padding-top: 0;
}

.headernav li {
  align-items: center;
}

.centercontent {
  padding-top: 10rem;
}

.homeheader {
  display: block;
  text-align: center;
  vertical-align: center;
}

.homeheader h1 {
  font-size: 3rem;
  color: rgb(216, 202, 168);
  background-color: rgb(120, 119, 70);
  padding-top: 1rem;
  padding-bottom: 1rem;

}

body {
  font-family: 'Oswald', sans-serif;
  background-color: black;
  margin: 0;
  top: -8rem;
  left: 0;
  padding-top: 3rem;
}

img.col-lg-4 {
  border-radius: 5%;
  margin-bottom: 1rem;
}

.facility, .missionstatement, .partnershipinfo {
  display: flex;
  background-color: rgb(120, 119, 70);
  margin-bottom: 1.5rem;
  color: rgb(64, 65, 30);
  text-align: center;
  height: 20rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.facility, .partnershipinfo {
  background-color: rgb(64, 65, 30);
  color: rgb(120, 119, 70);
}

.facility {
  font-size: 1.5rem;
}

.missionstatement {
  font-size: 2.5rem;
  flex-direction: column;
}

.missionstatement .owner {
  font-size: 1.5rem;
  color: rgb(64, 65, 30);
}

.row {
  padding: 1rem 1rem 1rem 1rem;
}

.partnershipinfo .partnerships {
  list-style: none;
  line-height: normal;
  text-wrap: wrap;
}

.partnerships li:first-child {
  font-size: 2rem;
  text-decoration: underline;
  font-weight: bold;
}

div.questionsrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  background-color: rgb(120, 119, 70);
  bottom: 0;
  align-items: center;
  width: 100%;
  height: 25rem;
}

ul.footernav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(216, 202, 168);
  padding-top: 4rem;
}

.footernav a {
  background-color: black;
  padding: 1rem;
  border-radius: 10%;
  margin-right: 1rem;
  color: rgb(216, 202, 168);
}

.footernav a:visited {
  color: rgb(216, 202, 168);
}

.footernav a:hover {
  color: #C03A2A;
  text-decoration: none;
}

ul.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.contact li{
  list-style: none;
  line-height: normal;
  text-wrap: wrap;
  font-weight: bolder;
  color: rgb(216, 202, 168);
}

.social ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding-top: 3rem;
  padding-right: 5rem;
}

i {
  background-color: black;
  color: rgb(216, 202, 168);
  padding: 1rem;
  border-radius: 50%;
}

.social i:hover {
  color: #C03A2A;
  text-decoration: none;
}

.social i:visited {
  color: rgb(216, 202, 168);
  text-decoration: none;
}

.disclaimer {
  font-size: 1rem;
  text-align: center;
  color: rgb(64, 65, 30);
  padding-top: 1rem;
}

div.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*-----------------------------Class page specific code----------------------------*/
.classescontainer {
  padding-top: 11rem;
  text-align: center;
}
.classes .row {
  padding: 0;
}

h2.classes {
  background-color: rgb(120, 119, 70);
  color: rgb(216, 202, 168);
  padding: 1rem;
  text-decoration: none;
  font-size: 3rem;
}

.names {
  background-color: rgb(120, 119, 70);
  color: rgb(64, 65, 30);
  text-decoration: underline;
  padding-bottom: 1rem;
}

.classes {
  text-align: center;
}

.pictures {
  background-color: rgb(64, 65, 30);
}

.classpic {
  width: 100%;
  border-radius: 10%;
}

.descriptions {
  background-color: rgb(120, 119, 70);
  color: rgb(64, 65, 30);
  padding-top: 2rem;
}

.schedule {
  background-color: rgb(64, 65, 30);
  color: rgb(120, 119, 70);
}

.cost {
  background-color: rgb(120, 119, 70);
  color: rgb(64, 65, 30);
}

.roundbutton {
  color: rgb(216, 202, 168);
  background-color: #C03A2A;
  border-radius: 10%;
  padding: 1rem;
  text-align: center;
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.roundbutton:hover {
  color: black;
  text-decoration: none;
}

.privateclasses {
  text-align: center;
  margin-bottom: 3rem;
}

.privateclasses h2 {
  background-color: rgb(120, 119, 70);
  color: rgb(64, 65, 30);
  padding: 1rem;
  text-decoration: none;
}

.privateofferings {
  background-color: rgb(64, 65, 30);
  color: rgb(120, 119, 70);
}

.about {
  background-color: rgb(120, 119, 70);
  color: rgb(64, 65, 30);
}

.price {
  background-color: rgb(64, 65, 30);
  color: rgb(120, 119, 70);
}

h4.questions {
  color: rgb(216, 202, 168);
  margin-bottom: 2rem;
}

.questions i {
  background-color: #C03A2A;
  margin-right: 1rem;
  margin-bottom: 2rem;
}
